/* file location: /static/css/custom.css */

:root {
    --r-main-font: Noto Serif, serif;
    --r-heading-font: Noto Serif, serif;
    --r-heading1-font-weight: 700;
    --r-heading1-size: 2em;
    --r-heading2-size: 1.5em;
    --r-heading3-size: 1em;
    --r-heading4-size: .5em;
    --r-heading-color: #00684a;
    --r-background-color: #001e2b;
}

/* this is for modifying the default font-weight for h1 */
.reveal h1 {font-weight: var(--r-heading1-font-weight); }

/* this is for modifying default paragraph behavior */
.reveal p {
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}
/* this is for modifying default list font size */
.reveal ul, ol, li {font-size: 1em; }
